**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/node_modules/
**/npm-debug.log
**/.git/
**/.gitignore
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/.env
**/.env.*
**/README.md
**/*.md
**/.trae/
